*{

}

body{

    background-color: aqua;
    color: #fff;
}

@media  (max-width: 900px){
    body{
        background-color: pink;
        color: black;
    }
}

@media (max-width:400px){
    body{
        background-color: orange;
        color: gainsboro;
    }
    
}